torch
numpy
tqdm
transformers
datasets
huggingface_hub
python-dotenv
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
pymupdf
nanogcg
colorama
accelerate
bitsandbytes
openai
langchain_openai
peft